<section class="text-gray-600 body-font bg-[#f0e6d2]
">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5 text-center">Referencias</h2>
    <div class="md:w-3/5 md:pl-6">
      
      <div class="flex flex-col md:w-1/2 md:pl-12">
        <nav class="flex flex-col list-none -mb-1"> 
          <li>
            <a class="text-gray-600 hover:text-gray-800">
              <div style="display: flex; align-items: center">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 24 24">
                    <path d="M 12 2 C 7.582 2 4 5.582 4 10 L 4 11 L 4 11.902344 C 3.426291 12.449411 3 13.153146 3 14 C 3 15.241968 3.8575508 16.162904 4.9433594 16.613281 C 6.2443933 19.723094 8.8502365 22 12 22 C 15.149764 22 17.755607 19.723094 19.056641 16.613281 C 20.142449 16.162904 21 15.241968 21 14 C 21 13.153146 20.573709 12.449411 20 11.902344 L 20 11 L 20 10 C 20 5.582 16.418 2 12 2 z M 7 10 L 17 10 C 17.552 10 18 10.448 18 11 L 18 12 L 18 12.851562 L 18.501953 13.138672 C 18.805591 13.312973 19 13.615008 19 14 C 19 14.515121 18.631169 14.912712 18.138672 14.980469 L 17.552734 15.0625 L 17.339844 15.613281 C 16.309043 18.299503 14.258448 20 12 20 C 9.7415517 20 7.6909574 18.299502 6.6601562 15.613281 L 6.4472656 15.0625 L 5.8613281 14.980469 C 5.3688308 14.912712 5 14.515121 5 14 C 5 13.615008 5.1944088 13.312973 5.4980469 13.138672 L 6 12.851562 L 6 12 L 6 11 C 6 10.448 6.448 10 7 10 z"></path>
                    </svg>
                </div>
                <div>
                  <h4>Andres Felipe Vega Beltran</h4>
                </div>
              </div>
            </a>
          </li>
      
          <li>
            <a class="text-gray-600 hover:text-gray-800">
              <div style="display: flex; align-items: center">
                <div>
                  <img width="55" height="40" src="your-image-source.jpg" alt="description"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPUlEQVR4nGNgGAngPwFMdQP/U2ohzS1gwKL4P4n8wWPBf1oED10tgIHROMAAo3FAEIzmA4JgtCwaBQxEAwAO9tcpmNs0QQAAAABJRU5ErkJggg==" 
                  alt="building--v1">
                </div>
                <div>
                <h4 class="text-rigth"> Universsidad Pedagogica y Tecnologica de Colombia (UPTC)</h4>
                </div>
              </div>
            </a>
          </li>
      
          <li>
            <a class="text-gray-600 hover:text-gray-800">
              <div style="display: flex; align-items: center">
                <div>
                  <img width="30" height="40" src="your-image-source.jpg" alt="description"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1ElEQVR4nJ2SPQrCQBCFvwvYGi0Ub6KlldiYwsIb5AZ25gKeSC8Q9AI21oIQ/xoxMjArk5jEjQ8egdmZL/smgbzaQAzsgCtwARJgBQT80AxIgazCcjavG37VDDtLz4KSa6em6abPSG1rmUYbWEBcGO4CIdBSh1qzkLUF7AvXlDiivtpFtD0HC0jNQaRvlcGHuqc1F8f5o3MN4F4DGDlAUhGhpy6LIN44wNJjiZ3CEnMxAuDU4DOKt8DQ7mEKPD1+pK8FYjTxHD5WAUQ+w+N/AV5qDHgDq7iQksd20IEAAAAASUVORK5CYII=" 
                  alt="development-skill">
                </div>
                <div>
                <h4 class="text-rigth">   Ingeniero de Sistemas</h4>
                </div>
              </div>
            </a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</section>