<section class="text-gray-600 body-font overflow-hidden bg-[#f0e6d2]">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
         
          <div class="md:flex-grow">
           
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 text-center">Corporacion Unificada Nacional de Educacion Superior</h2>

          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
         
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 text-center">Estudiante  de ingeniería de sitemas</h2>
            <p class="leading-relaxed text-center">estudiante desde mayo de 2022 hasta el presente</p>
           
          </div>
        </div>
        
      </div>
    </div>
  </section>
